body{
    color:white;
    background:rgb(255, 0, 255);
    font-family: "Sevilhana", cursive;
}
header {
    border-bottom: solid 2px black;
    padding: 20px;
    font-size: 32px;
    color: rgb(7, 1, 6);
}

section{
    background:rgb(221 160 199);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}